.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.complete-percent-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.percentage-value {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.completed-text {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

.progress-bar {
  width: 4.25rem;
  height: 4.25rem;
  margin: 0 1.5rem 0 0;
}
